    <h1>Users panel </h1>

<table class="table">
    <thead>
        <tr>
        <th>#</th>
        <th>FullName</th>
        <th>All Notifications</th>
        <th>Read Notifications</th>
        <th>Unread Notifications</th>
       </tr>
    </thead>
    <tbody>
    </tbody>
</table>

    
   

  