

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><%= guide.title %></h3>
            <p class="card-text">Content: <%= guide.content %></p>
        </div>
    </div>
</div>